<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <h1>NestJS Chat</h1>
    
    <div id="login">
        <input id="username" placeholder="Username">
        <input id="room" placeholder="Room">
        <button onclick="connect()">Join</button>
    </div>

    <div id="chat" style="display:none">
        <div id="messages" style="height: 200px; border: 1px solid #ccc; overflow-y: scroll;"></div>
        <input id="msg" placeholder="Type message...">
        <button onclick="send()">Send</button>
    </div>

    <!-- <div id="chat" style="display:none">
        <div id="messages" style="height: 200px; border: 1px solid #ccc; overflow-y: scroll;"></div>
         <form id="chat-form">
            <input id="msg" placeholder="Type message..." autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div> -->
    <!-- THIS FOR JUST ENTER -->

    <script>
        const socket = io();

        function connect() {
            const username = document.getElementById('username').value;
            const room = document.getElementById('room').value;
            
            socket.emit('joinRoom', { username, room });
            document.getElementById('login').style.display = 'none';
            document.getElementById('chat').style.display = 'block';
        }

        function send() {
            const message = document.getElementById('msg').value;
            const room = document.getElementById('room').value;
            const username = document.getElementById('username').value;

            socket.emit('sendMessage', { room, username, message });
            document.getElementById('msg').value = '';
        }

        socket.on('newMessage', (msg) => {
            const div = document.getElementById('messages');
            const p = document.createElement('p');
            const strong = document.createElement('strong');
            
            strong.textContent = msg.username + ": "; // Safe
            p.textContent = msg.message; // Safe: browser treats <html> as plain text
            
            p.prepend(strong);
            div.appendChild(p);
        });
    </script>
</body>
</html>